.tasks-title {
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.card-title {
  .badge {
    font-size: 12px;
    top: 22px;
    position: absolute;
    margin-left: 10px;
  }
}
